
.iconfont{
  font-size: 28px !important;
}

.tabbar {
  height: 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
  border: 1px solid rgba(204, 204, 204, 0.43);
  padding: 5px 0;
}

.tabbar-content {
  display: flex;
  justify-content: space-evenly;
  
}

.tabbar-item{
  flex-shrink: 1;
}

.active {
  color: red !important;
}
